# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
.cache/

# IDE and OS files
.DS_Store
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# Docs build
docs/build/
playground/dist/
