:root{
    --lz-red-50: #ffe0dd;
    --lz-red-100: #ffc5c0;
    --lz-red-200: #ff9d94;
    --lz-red-300: #ff6557;
    --lz-red-400: #ff3623;
    --lz-red-500: #ff0202;
    --lz-red-600: #ff2814;
    --lz-red-700: #d71200;
    --lz-red-800: #92160a;
    --lz-red-900: #500700;

    --lz-orange-50: #fff0d4;
    --lz-orange-100: #ffdea8;
    --lz-orange-200: #ffc570;
    --lz-orange-300: #ff834d;
    --lz-orange-400: #ffa037;
    --lz-orange-500: #ff8614;
    --lz-orange-600: #f06806;
    --lz-orange-700: #c74d07;
    --lz-orange-800: #9e3d0e;
    --lz-orange-900: #451805;

    --lz-teal-50: #cffce9;
    --lz-teal-100: #a3f7d7;
    --lz-teal-200: #67eec3;
    --lz-teal-300: #2bdca9;
    --lz-teal-400: #07c595;
    --lz-teal-500: #009e78;
    --lz-teal-600: #007e64;
    --lz-teal-700: #016450;
    --lz-teal-800: #025243;
    --lz-teal-900: #002e27;

    --lz-purple-50: #fee5ff;
    --lz-purple-100: #fdcaff;
    --lz-purple-200: #ffa1fe;
    --lz-purple-300: #ff69fd;
    --lz-purple-400: #fb32ff;
    --lz-purple-500: #d710da;
    --lz-purple-600: #c10ac0;
    --lz-purple-700: #9d0b9a;
    --lz-purple-800: #800f7b;
    --lz-purple-900: #570054;

    --lz-indigo-50: #f3e7ff;
    --lz-indigo-100: #ead3ff;
    --lz-indigo-200: #d9b1ff;
    --lz-indigo-300: #c27fff;
    --lz-indigo-400: #aa4efe;
    --lz-indigo-500: #962bf2;
    --lz-indigo-600: #891ce3;
    --lz-indigo-700: #6e1bae;
    --lz-indigo-800: #5b178c;
    --lz-indigo-900: #3c0368;

    --lz-yellow-50: #f2ffc2;
    --lz-yellow-100: #e9ff88;
    --lz-yellow-200: #e4ff43;
    --lz-yellow-300: #eaff10;
    --lz-yellow-400: #e4ef03;
    --lz-yellow-500: #d6cf00;
    --lz-yellow-600: #a49104;
    --lz-yellow-700: #87710c;
    --lz-yellow-800: #735c10;
    --lz-yellow-900: #433205;

    --lz-pink-50: #fde6e9;
    --lz-pink-100: #fbd0d9;
    --lz-pink-200: #f7aab9;
    --lz-pink-300: #f27a93;
    --lz-pink-400: #e63f66;
    --lz-pink-500: #d42a5b;
    --lz-pink-600: #b21e4b;
    --lz-pink-700: #951c45;
    --lz-pink-800: #801b40;
    --lz-pink-900: #470a1f;

    --lz-grey-50: #e7e7e7;
    --lz-grey-100: #d1d1d1;
    --lz-grey-200: #b0b0b0;
    --lz-grey-300: #888888;
    --lz-grey-400: #707070;
    --lz-grey-500: #5d5d5d;
    --lz-grey-600: #4f4f4f;
    --lz-grey-700: #454545;
    --lz-grey-800: #3d3d3d;
    --lz-grey-900: #262626;

    --lz-lime-50: #e7fec9;
    --lz-lime-100: #d0fc9a;
    --lz-lime-200: #aff75f;
    --lz-lime-300: #91ec2f;
    --lz-lime-400: #66be0e;
    --lz-lime-500: #55a808;
    --lz-lime-600: #42800b;
    --lz-lime-700: #36650f;
    --lz-lime-800: #2f5512;
    --lz-lime-900: #162f04;

    --lz-cyan-50: #cafdf8;
    --lz-cyan-100: #96f9f3;
    --lz-cyan-200: #59efeb;
    --lz-cyan-300: #27d9da;
    --lz-cyan-400: #0ebbbe;
    --lz-cyan-500: #089499;
    --lz-cyan-600: #0b757a;
    --lz-cyan-700: #0e5c61;
    --lz-cyan-800: #114c50;
    --lz-cyan-900: #022c31;

    --lz-sky-50: #dff0ff;
    --lz-sky-100: #b8e2ff;
    --lz-sky-200: #94d6ff;
    --lz-sky-300: #33b3fd;
    --lz-sky-400: #0999ee;
    --lz-sky-500: #0079cc;
    --lz-sky-600: #0060a5;
    --lz-sky-700: #045288;
    --lz-sky-800: #0a4570;
    --lz-sky-900: #062b4b;

    --lz-violet-50: #f4e8ff;
    --lz-violet-100: #ebd4ff;
    --lz-violet-200: #dbb3ff;
    --lz-violet-300: #c582fe;
    --lz-violet-400: #af52fa;
    --lz-violet-500: #992ced;
    --lz-violet-600: #851fd1;
    --lz-violet-700: #711faa;
    --lz-violet-800: #5c1a89;
    --lz-violet-900: #3f0566;

    --lz-rose-50: #ffe3f6;
    --lz-rose-100: #ffc6ec;
    --lz-rose-200: #ff98db;
    --lz-rose-300: #ff58c1;
    --lz-rose-400: #ff27a5;
    --lz-rose-500: #ff0a85;
    --lz-rose-600: #df0064;
    --lz-rose-700: #b80053;
    --lz-rose-800: #980348;
    --lz-rose-900: #5f0026;

    /* Tailwind CSS Slate Palette */
    --lz-slate-50:  #f8fafc;
    --lz-slate-100: #f1f5f9;
    --lz-slate-200: #e2e8f0;
    --lz-slate-300: #cbd5e1;
    --lz-slate-400: #94a3b8;
    --lz-slate-500: #64748b;
    --lz-slate-600: #475569;
    --lz-slate-700: #334155;
    --lz-slate-800: #1e293b;
    --lz-slate-900: #0f172a;

    --lz-blue-50: #d7eaff;
    --lz-blue-100: #b9dcff;
    --lz-blue-200: #88c7ff;
    --lz-blue-300: #50a7ff;
    --lz-blue-400: #2882ff;
    --lz-blue-500: #1463ff;
    --lz-blue-600: #0a4aeb;
    --lz-blue-700: #0f3cbe;
    --lz-blue-800: #133895;
    --lz-blue-900: #133895;

    --lz-green-50: #d8ffdf;
    --lz-green-100: #b4fec2;
    --lz-green-200: #7afb93;
    --lz-green-300: #3aee5e;
    --lz-green-400: #10d737;
    --lz-green-500: #07c52d;
    --lz-green-600: #098c24;
    --lz-green-700: #0d6e22;
    --lz-green-800: #0d5a1f;
    --lz-green-900: #00330c;

    --black: #000;
    --white: #fff;
}